.containerpaginacao {
    margin: 0 auto;
}

.paginacao {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    display: none;

}

.paginacao.active {
    display: block;
}

section.pedidos {
    background-color: #f7f7f7;
    padding: 20px;
    border: 10px;
    box-shadow: 0 0 10 rgba(0, 0, 0, 0.2);
}

section.pedidos h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}


.footer {

    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 8px;
}


.footer a {
    margin: 5px;
    padding: 5px 10px;
    background-color: #555;
    border: none;
    color: #fff;
    cursor: pointer;
}


.footer a:hover {
    background-color: #777;
}

.notificacao {
    position: fixed;
    top: 20px;
    left: 40%;
    padding: 20px;
    opacity: 0;
    transition: opacity 0.5s;
    z-index: 1000;
}

.erro {
    background-color: #ff0000;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}

.sucesso {
    background-color: #2fa70be0;
    font-weight: bold;
    color: white;
    border-radius: 10px;
}

.mensagem-bem-vinda {
    position: fixed;
    top: 20px;
    left: 20%;
    background-color: #333;
    font-weight: bold;
    color: white;
    padding: 10px;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.5s;
    z-index: 1000;
}


.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--swiper-theme-color);
}

.autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: var(--swiper-theme-color);
    fill: none;
    stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
}

